/* <template>
  <div
    style="position:relative"
    v-bind:class="{'open':openSuggestion}"
  >
    <input
      class="form-control"
      type="text"
      @click="showDropdown = !showDropdown"
      :value="value"
      @input="updateValue($event.target.value)"
      @keydown.enter='enter'
      @keydown.down='down'
      @keydown.up='up'
      @keydown.backspace='updateValue($event.target.value)'
    >
    <ul
      class="dropdown-menu aligndrop"
      style="width:100%"
      v-bind:class="{ 'show': showDropdown }"
    >
      <span class="alignli" v-if="!matches.length">Nenhum registro encontrado!</span>
      <li
        v-bind:key="index"
        v-for="(suggestion, index) in matches"
        v-bind:class="{'active': isActive(index)}"
        @click="suggestionClick(index)"
      >
        <a href="#" class="alignli">{{ suggestion.name }}

        </a>
        <hr>
      </li>

    </ul>
  </div>
</template>

<script>
export default {
  name: `autocomplete`,
  props: {
    showDropdown: undefined,
    value: {
      type: undefined,
      required: true
    },
    suggestions: {
      type: Array,
      required: true
    }
  },
  mounted() {
    this.suggestions.map(obj => {
      return (obj.name = `${obj.name} (${obj.code})`);
    });
  },
  data() {
    return {
      open: false,
      current: 0
    };
  },
  computed: {
    matches() {
      return this.suggestions.filter(obj => {
        return obj.name.indexOf(this.value) >= 0;
      });
    },
    openSuggestion() {
      return (
        this.selection !== "" && this.matches.length !== 0 && this.open === true
      );
    }
  },
  methods: {
    toggleDropdown() {
      this.showDropdown = !this.showDropdown;
    },
    updateValue(value) {
      if (this.open === false) {
        this.open = true;
        this.current = 0;
      }
      this.$emit("input", value);
      this.$emit("changed", value);
    },
    enter() {
      this.$emit("input", this.matches[this.current].name);
      this.open = false;
    },
    up() {
      if (this.current > 0) {
        this.current--;
      }
    },
    down() {
      if (this.current < this.matches.length - 1) {
        this.current++;
      }
    },
    isActive(index) {
      return index === this.current;
    },
    suggestionClick(index) {
      this.$emit("input", `${this.matches[index].name}`);
      this.$emit("changed", this.matches[index]);
      this.open = false;
    }
  }
};
</script>

<style>
.aligndrop {
  overflow-y: scroll;
  max-height: 200px;
}
.alignli {
  margin-left: 15px;
}
</style>