<template>
  <div v-if="favoured" class="margin-badge">
    <b-row>
      <b-col sm="12">
        <b-form-group>
          <h6>CPF / CNPJ</h6>
          <h5>{{ favoured.identification }}</h5>
        </b-form-group>
      </b-col>
      <b-col sm="8">
        <b-form-group>
          <h6>Banco</h6>
          <h5>{{ selectedBank }}</h5>
        </b-form-group>
      </b-col>
      <b-col sm="4">
        <b-form-group>
          <h6>Agência</h6>
          <h5>{{ favoured.Account.agency }}-{{ favoured.Account.digitAg }}</h5>
        </b-form-group>
      </b-col>
      <b-col sm="8">
        <b-form-group>
          <h6>Tipo de conta</h6>
          <h5>{{ favoured.Account.accountType | noUnderscore }}</h5>
        </b-form-group>
      </b-col>
      <b-col sm="4">
        <b-form-group>
          <h6>CC</h6>
          <h5>{{ favoured.Account.accountNumber }}-{{ favoured.Account.digitAcc}}</h5>
        </b-form-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "FavouredValid",
  props: ["favouredValid", "selectedBank"],
  filters: {
    noUnderscore: function(value) {
      return value.replace(/_|-|\./g, ' ');
    }
  },
  mounted() {
    if (this.favouredValid) {
      this.favoured = this.favouredValid;
      this.selectedBank = this.selectedBank;
    }
  },
  data() {
    return {
      favoured: undefined,
      selected: undefined
    };
  }
};
</script>

<style>
.margin-badge {
  margin-top: 30px;
}

#modalfav .navbar {
  display: none;
}
</style>