<template>
  <default-layout>
    <h2 v-if="favouredEdit">
      <span
        class="badge"
        v-bind:class="{ badge: favoured.status === 'VALID', 'badge-primary': 'badge-secondary' }"
      >{{ favoured.status === 'DRAFT' ? 'Rascunho' : 'Validado'}}</span>
    </h2>
    <b-form v-if="!favoured.id || favoured.status === 'DRAFT'">
      <div>
        <div class="favouredform">
          <h4>Quais os dados do favorecido?</h4>
        </div>
      </div>
      <b-row>
        <b-col sm="8">
          <b-form-group>
            <label>Qual o nome completo ou razão social do favorecido?</label>
            <b-form-input
              type="text"
              placeholder="Nome ou Razão Social"
              maxlength="150"
              v-model="favoured.name"
              :state="validationName"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group>
            <label for="ccnumber">Qual o CPF ou CNPJ?</label>
            <b-form-input
              type="text"
              maxlength="14"
              v-model="favoured.identification"
              placeholder="CNPJ/CPF"
              :state="validationIdentification"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="6">
          <b-form-group>
            <label>Qual o e-mail do favorecido?</label>
            <b-form-input
              maxlength="100"
              type="text"
              v-model="favoured.email"
              :state="validationEmail"
              placeholder="Nome ou Razão Social"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <div>
        <div class="favouredform">
          <h4>Quais os dados bancários do favorecido?</h4>
        </div>
      </div>
      <b-row>
        <b-col sm="6">
          <label for="ccnumber">Qual o banco do favorecido?</label>
          <autocomplete
            :suggestions="banks"
            @changed="setBank"
            v-model="selectedBank"
          ></autocomplete>
        </b-col>
        <b-col sm="4">
          <b-form-group>
            <label for="ag">Qual a agencia?</label>
            <b-form-input
              type="text"
              :state="validationAG"
              maxlength="10"
              v-model="favoured.Account.agency"
              placeholder="Agência"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col sm="2">
          <b-form-group>
            <label for="digitAg">Digito</label>
            <b-form-input
              type="text"
              v-model="favoured.Account.digitAg"
              :state="validationDigitAg"
              placeholder="Dígito"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col sm="6">
          <b-form-group>
            <label>Qual o tipo da conta?</label>
            <b-form-select
              v-model="selected"
              :options="options"
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col sm="4">
          <b-form-group>
            <label>Qual a conta corrente?</label>
            <b-form-input
              type="text"
              v-model="favoured.Account.accountNumber"
              maxlength="14"
              :state="validationCC"
              placeholder="Conta corrente"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col sm="2">
          <b-form-group>
            <label>Digito</label>
            <b-form-input
              type="text"
              v-model="favoured.Account.digitAcc"
              :state="validationDigitACC"
              placeholder="Dígito"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
    </b-form>

    <div v-if="favoured.status === 'VALID'">
      <FavouredValid
        v-bind:favouredValid="favoured"
        :selectedBank="selectedBank"
      ></FavouredValid>
      <b-row>
        <b-col sm="6">
          <b-form-group>
            <label>Qual o e-mail do favorecido?</label>
            <b-form-input
              type="text"
              v-model="favoured.email"
              :state="validationEmail"
              placeholder="Nome ou Razão Social"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
    </div>
    <b-row>
      <b-col style="margin-top: 5%;">
        <b-button
          class="float-right"
          @click="submit()"
          :disabled="isDisabledSubmit"
          variant="primary"
        >Salvar</b-button>
        <b-button
          v-if="favouredEdit"
          class="float-right"
          style="margin-right: 15%;"
          @click="onDelete()"
          variant="danger"
        >Deletar</b-button>
        <b-button
          @click="closeModal"
          variant="outline-primary"
        >Voltar</b-button>
      </b-col>
    </b-row>
  </default-layout>
</template>

<script>
import DefaultLayout from "../layout/DefaultLayout.vue";
import * as axios from "axios";
import autocomplete from "../components/Autocomplete";
import FavouredValid from "../components/FavouredValid";

export default {
  name: `favouredform`,
  props: ["favouredEdit"],
  components: {
    DefaultLayout,
    autocomplete,
    FavouredValid
  },
  data() {
    return {
      isDisabled: true,
      favoured: {
        id: undefined,
        identification: undefined,
        email: undefined,
        Account: {
          accountType: undefined,
          bankId: undefined,
          agency: undefined,
          digitAcc: undefined,
          accountNumber: undefined
        },
        name: "",
        status: "1"
      },
      selectedBank: "",
      banks: [
        {
          id: 1,
          name: "Banco do Brasil",
          code: "001"
        },
        {
          id: 2,
          name: "Caixa Econômica Federal",
          code: "104"
        },
        {
          id: 3,
          name: "Sicoob",
          code: "756"
        },
        {
          id: 4,
          name: "Bradesco",
          code: "237"
        }
      ],
      show: true,
      selected: "CONTA_CORRENTE",
      options: [
        { value: "CONTA_CORRENTE", text: "Conta Corrente" },
        { value: "CONTA_POUPANÇA", text: "Conta Poupança" },
        { value: "CONTA_FACIL", text: "Conta Fácil" }
      ]
    };
  },
  mounted() {
    if (this.favouredEdit) {
      this.favoured = this.favouredEdit[0];
      this.selected = this.favoured.Account.accountType;
      const bankdata = this.banks.find(
        x => x.id === this.favouredEdit[0].Account.bankId
      );

      if (bankdata.name) {
        this.selectedBank = bankdata.name;
      }
      this.$emit("onClear");
    }
  },
  methods: {
    submit() {
      this.favoured.Account.accountType = this.selected;
      axios({
        method: this.favoured.id ? "PUT" : "POST",
        url: "http://54.188.80.108:3000/favoureds",
        data: this.favoured
      })
        .then(() => {
          this.makeToast();
          if (!this.favouredEdit) {
            setTimeout(() => {
              this.$router.push("/");
            }, 2000);
          }else {
            this.closeModal();
          }
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    setBank(bank) {
      this.favoured.Account.bankId = bank.id;
    },
    makeToast() {
      this.$bvToast.toast(`Favorecido salvo!`, {
        title: "Sucesso!",
        autoHideDelay: 5000
      });
    },
    onDelete() {
      this.$emit("onDelete", this.favoured);
    },
    closeModal() {
      if (this.favouredEdit) {
        return this.$emit("closeModal");
      }
      this.$router.push("/");
    }
  },
  computed: {
    isDisabledSubmit() {
      return !this.validationAG ||
        !this.validationCC ||
        !this.validationDigitACC ||
        !this.validationDigitAg ||
        !this.validationName ||
        !this.validationIdentification
    },
    validationCC() {
      if (!this.favoured.Account.accountNumber) {
        return;
      }
      if (this.selectedBank.includes("(001)")) {
        return /^(?!0+$)[0-9]{0,11}$/.test(this.favoured.Account.accountNumber);
      }
      return /^(?!0+$)[0-9]{0,11}$/.test(this.favoured.Account.accountNumber);
    },

    validationEmail() {
      if (!this.favoured.email) {
        return;
      }
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(this.favoured.email);
    },
    validationName() {
      if (!this.favoured.name) {
        return;
      }

      return this.favoured.name.length > 5;
    },
    validationIdentification() {
      if (!this.favoured.identification) {
        return;
      }

      return this.favoured.identification.length < 10;
    },
    validationAG() {
      if (!this.favoured.Account.agency) {
        return;
      }
      if (this.selectedBank.includes("(001)")) {
        return /^(?!0+$)[0-9]{0,10}$/.test(this.favoured.Account.agency);
      }
      return /^(?!0+$)[0-9]{0,10}$/.test(this.favoured.Account.agency);
    },
    validationDigitAg() {
      if (!this.favoured.Account.digitAg) {
        return;
      }
      if (this.selectedBank.includes("(001)")) {
        return (
          /^[xX0-9]{0,1}$/.test(this.favoured.Account.digitAg) &&
          this.favoured.Account.digitAg.length === 1
        );
      }
      return (
        /^(?!0+$)[0-9]{0,10}$/.test(this.favoured.Account.digitAg) &&
        this.favoured.Account.digitAg.length === 1
      );
    },
    validationDigitACC() {
      if (!this.favoured.Account.digitAcc) {
        return;
      }
      if (this.selectedBank.includes("(001)")) {
        return (
          /^(?!0+$)[0-9]{0,11}$/.test(this.favoured.Account.digitAcc)

        );
      }
      return (
       /^(?!0+$)[0-9]/.test(this.favoured.Account.digitAcc)

      );
    }
  }
};
</script>

<style>
.favouredform {
  margin-top: 5%;
  margin-bottom: 5%;
}

.alignbtn {
  margin-right: 20px;
}

.Default__nav {
  display: none;
}
</style>
