<template>
  <default-layout>
    <h3>
      Seus favorecidos
      <b-button
        to="/favoured/form"
        size="sm"
        variant="outline-primary"
      >Novo</b-button>
    </h3>

    <div class="home">
      <b-row>
        <b-col
          md="12"
          class="my-1"
        >
          <b-form-group>
            <b-col
              md="5"
              class="float-right"
            >
              <div>
                <b-input-group>
                  <b-form-input
                    v-model="filter"
                    placeholder="Nome, CPF, Agência ou conta"
                  ></b-form-input>
                </b-input-group>
              </div>
            </b-col>
          </b-form-group>
        </b-col>
      </b-row>
      <div>
        <b-button
          @click="deleteBatch"
          variant="outline-primary"
          size="sm"
        >Excluir selecionados</b-button>
      </div>

      <div>
        <b-table
          hover
          selectable
          borderless
          :current-page="currentPage"
          :items="favoureds"
          :fields="fields"
          ref="list"
          :filter="filter"
          v-on:dblclick.native="openRow"
          @row-selected="rowSelected"
          :per-page="perPage"
          show-empty
          :busy="isLoading"
        >

          <div
            slot="table-busy"
            class="text-center text-danger my-2"
          >
            <b-spinner class="align-middle"></b-spinner>
            <strong>Carregando...</strong>
          </div>

          <template slot="empty">
            <h6 class="text-center alignempty">
              <strong>
                Nenhum favorecido encontrado.
              </strong>
            </h6>
          </template>

          <template
            slot="status"
            slot-scope="row"
          >
            <b-badge
              class="badgectner"
              v-if="row.item.status === 'VALID'"
              variant="primary"
            >Validado</b-badge>
            <b-badge
              class="badgectner"
              v-if="row.item.status === 'DRAFT'"
              variant="secondary"
            >Rascunho</b-badge>
          </template>

          <template
            slot="Account.agency"
            slot-scope="row"
          >{{ row.item.Account.agency }}-{{row.item.Account.digitAg}}</template>

          <template
            slot="Account.accountNumber"
            slot-scope="row"
          >{{ row.item.Account.accountNumber }}-{{row.item.Account.digitAcc}}</template>
          <template
            slot="Account.bankId"
            slot-scope="row"
          >
            <span
              v-if="row.item.Account.bankId === 1"
              class="ibb-banco-brasil bankicon"
            ></span>
            <span
              v-if="row.item.Account.bankId === 2"
              class="ibb-caixa bankicon"
            ></span>
            <span
              v-if="row.item.Account.bankId === 3"
              class="ibb-sicoob bankicon"
            ></span>
            <span
              v-if="row.item.Account.bankId === 4"
              class="ibb-bradesco bankicon"
            ></span>
          </template>
        </b-table>
        <div class="text-center">
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            align="center"
            aria-controls="my-table"
          ></b-pagination>
        </div>

      </div>
      <b-modal
        id="modalfav"
        hide-footer
        size="lg"
      >
        <template slot="modal-title">Favorecido</template>
        <template slot="default">
          <favouredform
            v-bind:favouredEdit="favoured"
            @onDelete="deleteDraft"
            @closeModal="hideModal"
            @onClear="clearSelection"
          ></favouredform>
        </template>
      </b-modal>
    </div>
  </default-layout>
</template>
<script>
import DefaultLayout from "../layout/DefaultLayout.vue";
import * as axios from "axios";
import favouredform from "../components/FavouredForm";

export default {
  name: `home`,
  props: ["msg"],
  components: {
    DefaultLayout,
    favouredform
  },
  data() {
    return {
      favoureds: [],
      perPage: 10,
      isLoading: false,
      currentPage: 1,
      filter: null,
      fields: [
        { key: "name", label: "Favorecido" },
        { key: "identification", label: "CNPJ / CPF" },
        { key: "Account.bankId", label: "Banco" },
        { key: "Account.agency", label: "Agência" },
        { key: "Account.accountNumber", label: "CC" },
        { key: "status", label: "Status do favorecido" }
      ],
      favoured: undefined,
      favouredEdit: null,
      selected: undefined,
      selecteds: undefined
    };
  },
  mounted() {
    this.get();
  },
  computed: {
    rows() {
      return this.favoureds.length;
    }
  },
  methods: {
    rowSelected($event) {
      if (!$event) {
        return;
      }
      this.favoured = $event;
      this.selecteds = $event;
    },
    openRow() {
      if (!this.selecteds.length) {
        return;
      }
      if (this.rowSelected) {
        this.$bvModal.show("modalfav");
      }
    },
    hideModal() {
      this.$bvModal.hide("modalfav");
      this.get();
    },
    clearSelection() {
      this.$refs.list.clearSelected();
    },
    deleteBatch() {
      if (!this.selecteds.length) {
        return;
      }
      this.$bvModal
        .msgBoxConfirm("Deseja excluir seleciado(s)?", {
          title: "Exclusão",
          size: "sm",
          buttonSize: "sm",
          okVariant: "success",
          headerClass: "p-2 border-bottom-0",
          footerClass: "p-2 border-top-0",
          centered: true
        })
        .then(value => {
          if (value) {
            this.requestDelete();
          }
        })
        .catch(e => {
          this.$bvToast.toast(e, {
            title: "Erro!",
            autoHideDelay: 10000
          });
        });
    },
    requestDelete() {
      this.selecteds.reduce((promiseChain, item) => {
        this.deleteFavoured(item);
        return promiseChain.then(
          () =>
            new Promise(resolve => {
              this.asyncFunction(item, resolve);
            })
        );
      }, Promise.resolve());

      this.$bvToast.toast("Deletado(s) com sucesso!", {
        title: `Sucesso`
      });
    },
    deleteFavoured(obj) {
      axios({
        method: "DELETE",
        url: `http://54.188.80.108:3000/favoureds/${obj.id}/${obj.accountId}`
      }).catch(e => {
        this.$bvToast.toast(e, {
          title: "Erro!",
          autoHideDelay: 10000
        });
      });
    },
    deleteDraft(favoured) {
      this.$bvModal.hide("modalfav");
      this.$bvModal
        .msgBoxConfirm(
          `Você confirma a exclusão do favorecido ${favoured.name}`,
          {
            title: "Excluir favorecido",
            size: "sm",
            buttonSize: "sm",
            okVariant: "success",
            headerClass: "p-2 border-bottom-0",
            footerClass: "p-2 border-top-0",
            centered: true
          }
        )
        .then(value => {
          if (value) {
            this.deleteFavoured(favoured);
          }
        });
    },
    get() {
      this.isLoading = true;
      const vm = this;
      axios({
        method: "GET",
        url: "http://54.188.80.108:3000/favoureds"
      })
        .then(response => {
          vm.favoureds = response.data.data;
          vm.favoureds.map(favoured => (favoured.selected = false));
          this.isLoading = false;
        })
        .catch(e => {
            this.isLoading = false;
        });
    },
    asyncFunction(item, cb) {
      setTimeout(() => {
        this.get();
        cb();
      }, 100);
    }
  }
};
</script>

<style>
.badgectner {
  width: 70%;
}
.bankicon {
  font-size: 25px;
}
.alignbtn {
  margin-top: 15px;
}
.alignempty {
  margin-top: 15%;
}
</style>
