<template>
  <div>
    <b-navbar
      toggleable="lg"
      type="dark"
      variant="info"
    >
      <b-navbar-brand to="/">Transfeera</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse
        id="nav-collapse"
        is-nav
      >
        <b-navbar-nav>
          <b-nav-item active to="/">Favorecidos</b-nav-item>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>

    <div class="DefaultLayout">
      <main class="DefaultLayout__main">
        <slot />
      </main>
      <footer class="DefaultLayout__footer">

      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: `DefaultLayout`,
  data() {
    return {
      user: null
    };
  },
  created() {

  },
};
</script>

<style lang="scss">
.DefaultLayout {
  max-width: 60em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;

  &__nav {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #c0c0c0;
  }

  &__user {
    float: right;
  }

  &__main {
    padding-top: 1.5em;
    padding-bottom: 2em;
  }

  &__footer {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
</style>

